PORT=PORT
MONGODB_URI=MONGODB_URI
JWT_SECRET=JWT_SECRET
GEMINI_API_KEY=GEMINI_API_KEY=YOUR_GEMINI_API_KEY
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_UPLOAD_PRESET=CLOUDINARY_UPLOAD_PRESET
CITY_CENTER_LAT=CITY_CENTER_LAT
CITY_CENTER_LNG=CITY_CENTER_LNG
